.navbar {
    height: 50px;
    background-color: rgb(19, 154, 138);
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 560;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.navButtons {
    margin-left: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;

}